<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/thanhToan.css" />
    <!-- cdn bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <a href="/" class="logo">
        <i class="fas fa-shopping-basket"></i> groco
      </a>
      <nav class="navbar">
        <a href="/">home</a>
        <a href="/product/list?foodShop=&search=&page=1">products</a>
        <a href="/foodShop/list?search=&page=1">Food Shop</a>
        <a href="/user/purchase">all bill</a>
        <a href="#review">review</a>
        <a href="#blogs">blogs</a>
      </nav>

      <div class="icons">
        <a href="/user/shoppingcart">
          <div class="fas fa-shopping-cart" id="cart-btn"></div>
        </a>
        <a href="/user/profile">
          <div class="fas fa-user" id="login-btn"></div>
        </a>
        {{#if user}}
          <a href="#" onclick="document.getElementById('logout-form').submit()">
            <div class="fas fa-sign-out-alt" title="Logout"></div>
          </a>
          <span style="color: black; font-size: 1.2rem; text-transform: none">{{user.Username}}</span>
          <form id="logout-form" action="/user/logout" method="post"></form>
          </form>
        {{/if}}
      </div>
    </header>
    <!-- HEADER -->
    <!-- Body -->
    <div class="pay">
      <h1 style="text-align: center; margin-bottom: 30px; font-size: 30px">
        Thanh Toan
      </h1>

     <table class="content-table" style="margin: 0 10%; width: 80%;">
        <thead>
          <tr>
            <th>STT</th>
            <th>Image</th>
            <th>Name</th>
            <th>Quatity</th>
            <th>Price</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            {{!-- <td>1</td>
            <td>Domenic</td>
            <td>
           3
            </td>
            <td>15000 </td>
            
          </tr>
          <tr>
            <td>2</td>
            <td>Sally</td>
            <td>
              3
             
            </td>
            <td>15000 </td>
            
          </tr>
          <tr>
            <td>3</td>
            <td>Nick</td>
           <td>
              3
            </td>
            <td>15000 </td>
          </tr> --}}
          {{#each giohang}}
            <tr>
                  
              <td><script>document.write({{@index}} + 1)</script></td>
              <td>
                <img src={{this.LinkHinhAnh}} alt="food image" style="width: 100px; height: 100px; border-radius: 5px;">
              </td>
              <td>{{this.TenMon}}</td>
              <td>{{this.SoLuong}}</td>
              <td>{{this.Gia}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>

      {{!-- <div>
          <h3>Thong tin giao hang</h3>
          <form class="thongTinGiaoHang" action="/user/xulithanhtoan" method="="post>
            <div class="tenNguoiNhan">
               <label for="">ten nguoi nhan</label>
               <input type="text" name="name" id="">
            </div>
           <div  class="sdtNguoiNhan">
             <label for="">SDT</label>
            <input type="text" name="sdt" id="">
           </div>
           <div class="diaChiNguoiNhan">
               <label for="">dia chi</label>
               <input type="text" name="diachi" id="">
            </div>
          </form>
      </div> --}}

      <div class="thongTinGiaoHang">
          <h3>Thong tin giao hang</h3>
          <form action="/user/xulithanhtoan" method="post">
            <div class="tenNguoiNhan">
               <label for="">ten nguoi nhan</label>
               <input type="text" name="name" id="">
            </div>
           <div  class="sdtNguoiNhan">
             <label for="">SDT</label>
            <input type="text" name="sdt" id="">
           </div>
           <div class="diaChiNguoiNhan">
               <label for="">dia chi</label>
               <input type="text" name="diachi" id="">
            </div>
            <button class="btn-thanhtoan" type="submit">Xac Nhan va dat hang</button>
          </form>
      </div>

      <div class="total">
        <div>
          <p style="color: red;">Kiểm tra thông tin trước khi đặt hàng</p>
        </div>
          <p style="padding: 0 10px; margin-left: 100px;">Phí sản phẩm: {{phisanpham}}</p>
          <p style="padding: 0 10px; margin-left: 100px;">Phí vận chuyển: 15000</p>
          
      </div>
      {{status}}
    <!-- Body -->
    <!-- FOOTER -->
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>groco <i class="fas fa-shopping-basket"></i></h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam,
            saepe.
          </p>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <h3>contact info</h3>
          <a href="#" class="links">
            <i class="fas fa-phone"></i> +123-456-7890
          </a>
          <a href="#" class="links">
            <i class="fas fa-phone"></i> +111-222-3333
          </a>
          <a href="#" class="links">
            <i class="fas fa-envelope"></i> shaikhanas@gmail.com
          </a>
          <a href="#" class="links">
            <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104
          </a>
        </div>

        <div class="box">
          <h3>quick links</h3>
          <a href="/" class="links">
            <i class="fas fa-arrow-right"></i> home
          </a>
          <a href="/product/list?foodShop=&search=&page=1" class="links">
            <i class="fas fa-arrow-right"></i> products
          </a>
          <a href="/foodShop/list?search=&page=1" class="links">
            <i class="fas fa-arrow-right"></i> Food Shop
          </a>
          <a href="/user/purchase" class="links">
            <i class="fas fa-arrow-right"></i> All Bill
          </a>
        </div>

        <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <input type="email" placeholder="your email" class="email" />
          <input type="submit" value="subscribe" class="btn" />
          <img src="/img/banner-bg.webp" class="payment-img" alt="" />
        </div>
      </div>

      <div class="credit">
        created by <span> mr. web designer </span> | all rights reserved
      </div>
    </section>
  </body>
  <script defer>
    window.onload = ()=>{
      //get page from url
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });

      //handle to success checkout
      if(params.checkout){
        alert("Thanh toán thành công, đến xem đơn hàng nào!");
        window.location.href = "/user/purchase";
      }
    }
  </script>
</html>
