<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/editTrangCaNhan.css" />
    <!-- cdn bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <a href="/" class="logo">
        <i class="fas fa-shopping-basket"></i> groco
      </a>
      <nav class="navbar">
        <a href="/">home</a>
        <a href="/product/list?foodShop=&search=&page=1">products</a>
        <a href="/foodShop/list?search=&page=1">Food Shop</a>
        <a href="/user/purchase">all bill</a>
        <a href="#review">review</a>
        <a href="#blogs">blogs</a>
      </nav>

      <div class="icons">
        <a href="/user/shoppingcart">
          <div class="fas fa-shopping-cart" id="cart-btn"></div>
        </a>
        <a href="/user/profile">
          <div class="fas fa-user" id="login-btn"></div>
        </a>
        {{#if user}}
          <a href="#" onclick="document.getElementById('logout-form').submit()">
            <div class="fas fa-sign-out-alt" title="Logout"></div>
          </a>
          <span style="color: black; font-size: 1.2rem; text-transform: none">{{user.Username}}</span>
          <form id="logout-form" action="/user/logout" method="post"></form>
          </form>
        {{/if}}
      </div>
    </header>
    <!-- HEADER -->
    <!-- Body -->
    <div class="inf">
      <h1
        style="
          text-align: center;
          margin-bottom: 30px;
          font-size: 30px;
          color: #130f40;
        "
      >
        Thông tin cá nhân
      </h1>
      <div class="container">
        <div class="grid-left">
          <img src="/img/download.jpeg" alt="" />
          <div class="name">
            <h3>{{HoTen}}</h3>
          </div>
        </div>

        <div class="grid-right">
          <div class="contact">
            <div class="title">
              <h3>Lien he</h3>
              
            </div>
            <form class="content" method="POST" action="/user/updateProfile">
            {{#with userInfo}}
              <p>
                HoTen:
                <input
                  name="hoten"
                  type="text"
                  value={{#if this.HoTen}}{{this.HoTen}}{{else}}""{{/if}}
                  style="
                    border: 1px solid black;
                    padding: 2px;
                    border-radius: 5px;
                  "
                />
              </p>
              <p>
                SDT:
                <input
                  name="sodienthoai"
                  type="text"
                  value={{#if this.SoDienThoai}}{{this.SoDienThoai}}{{else}}""{{/if}}
                  style="
                    border: 1px solid black;
                    padding: 2px;
                    border-radius: 5px;
                  "
                />
              </p>
              <p>
                Dia chi:
                <input
                  name="diachi"
                  type="text"
                  value={{#if this.DiaChi}}{{this.DiaChi}}{{else}}""{{/if}}
                  style="
                    border: 1px solid black;
                    padding: 2px;
                    border-radius: 5px;
                  "
                />
              </p>
              <p>
                Email:
                <input
                  name="email"
                  type="text"
                  value={{#if this.Email}}{{this.Email}}{{else}}""{{/if}}
                  style="
                    border: 1px solid black;
                    padding: 2px;
                    border-radius: 5px;
                  "
                />
              </p>
              <button type="submit">Cập nhật</button>
            {{/with}}
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <!-- FOOTER -->
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>groco <i class="fas fa-shopping-basket"></i></h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam,
            saepe.
          </p>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <h3>contact info</h3>
          <a href="#" class="links">
            <i class="fas fa-phone"></i> +123-456-7890
          </a>
          <a href="#" class="links">
            <i class="fas fa-phone"></i> +111-222-3333
          </a>
          <a href="#" class="links">
            <i class="fas fa-envelope"></i> shaikhanas@gmail.com
          </a>
          <a href="#" class="links">
            <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104
          </a>
        </div>

        <div class="box">
          <h3>quick links</h3>
          <a href="/" class="links">
            <i class="fas fa-arrow-right"></i> home
          </a>
          <a href="/product/list?foodShop=&search=&page=1" class="links">
            <i class="fas fa-arrow-right"></i> products
          </a>
          <a href="/foodShop/list?search=&page=1" class="links">
            <i class="fas fa-arrow-right"></i> Food Shop
          </a>
          <a href="/user/purchase" class="links">
            <i class="fas fa-arrow-right"></i> All Bill
          </a>
        </div>

        <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <input type="email" placeholder="your email" class="email" />
          <input type="submit" value="subscribe" class="btn" />
          <img src="/img/banner-bg.webp" class="payment-img" alt="" />
        </div>
      </div>

      <div class="credit">
        created by <span> mr. web designer </span> | all rights reserved
      </div>
    </section>
  </body>
</html>
